body {
    background: url(../images/linen.png);
    padding-bottom: 54px;
}

.top-nav{
    background:none;
}


ul.nav{
    list-style: none;
    margin-bottom: 0;
}

ul.nav li{
    display: inline;
    padding:12px;
}

.title-area .name{
    background: #fff;
    padding-top:0;
}

.mobile-logos{
    padding-left:6px;
    padding-top:6px;
}

.mobile-logos img {
    display:inline;
}

.spacer-line{
    border-top: 1px dashed tan;
    height: 1px;
    width: 98%;
    margin-left: 1%;

}

.name .marketing-image {
    vertical-align: bottom;
    position: relative;
    bottom: 3px;
}

.banner-bar {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 1px;
}

.top-bar .toggle-topbar.menu-icon a span {
    -webkit-box-shadow: 0 10px 0 1px #26aec2, 0 16px 0 1px #26aec2, 0 22px 0 1px #26aec2;
    box-shadow: 0 10px 0 1px #26aec2, 0 16px 0 1px #26aec2, 0 22px 0 1px #26aec2;
}

.top-bar.expanded .toggle-topbar a span {
    -webkit-box-shadow: 0 10px 0 1px #ccc, 0 16px 0 1px #ccc, 0 22px 0 1px #ccc;
    box-shadow: 0 10px 0 1px #ccc, 0 16px 0 1px #ccc, 0 22px 0 1px #ccc;
}


.top-bar .toggle-topbar.menu-icon a {
    color: #26aec2;
}

span.logo img {
    display: inline;
}

span.marketing-image {
    position: relative;
    bottom: 5px;

}

.advertise {
    text-align: right;
    margin-top: 10px;
}


.content {
    background-color: #fff;
}

#tab-box {
    position: absolute;
    bottom: 15px;
    right: 0;
}


.tab {
    display: inline;
    height: 18px;
    padding: 12px;
    background-color: rgba(0, 175, 201, 0.6);
}

.tab a {
    color: #fff;
}

.tab:hover {
    background-color: rgba(0, 175, 201, 0.9);
}

#tab-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 175, 201, 1);
}


.spacer{
    height:20px;
}

ul.box{
    list-style: none;
    margin-bottom: 0;
}

ul.box li{
    background: #fff;
    padding:12px;
    line-height: 1em;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

div.body{
    font-family: Arial;
    font-size: .8em;
    color:#666;
    margin-bottom: 12px;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.bottom-nav {
    background: rgba(255, 255, 255, 0.5);
    padding: 9px;
    border-radius: 15px;
    font-size: 9pt;
}

.bottom-nav:hover {
    background: rgba(255, 255, 255, 1.0);
}
/*Feature*/
#featured {
    position: relative;
}

#featured .content{
    top: 85px;
    left: 110px;
    position: absolute;
    background-color: transparent;color:#2795BC;
}

#featured .content h1{
    color:#2795BC;
    font-weight: normal;

}

/*Ale: footer*/

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    color: #40463C;
}

#footer{
    background: none;
    font-size: 76%;
    margin-top:50px;
}

.wrapperImg.footerEmailPic {
    background-position: -108px 0;
    height: 105px;
    width: 181px;
}

.wrapperImg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://assets.babycenter.com/ims/2012/12dec/wrapperSprite.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.wrapperImg.footerMobilePic {
    background-position: -303px 0;
    height: 120px;
    width: 121px;
    margin-right: 10px;
}

ul.iconList {
    font-size: 11px;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width:49%;
}
 
 ul.iconList li {
    margin-bottom: 20px;
    line-height: 14px;
    overflow: hidden;

}

ul.iconList li .iconSprite {
    float: left;
    margin-right: 10px;
}

.floatLeft {
    float: left;
}


.iconSprite {
    background-image: url("http://www.babycenter.com/assets/6.05.1/images/global/iconSprite.png");
    display: inline-block;
}
ul.footerPromos {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

ul.footerPromos > li + li {
    border-left: #DEDEDE dotted 1px;
    padding-left: 20px;
}

ul.footerPromos li {
    margin-bottom: 5px;
}

.iconMyPregToday {
    background-position: 0 -427px;
    height: 25px;
    width: 25px;
}

.iconMyBabyToday {
    background-position: 0 -498px;
    height: 25px;
    width: 25px;
}

.iconClass25 {
    background-position: 0 -212px;
    height: 25px;
    width: 25px;
}
.iconBlogLg {
    background-position: 0 -564px;
    height: 25px;
    width: 25px;
}
.iconFacebookLg {
    background-position: 0 -283px;
    height: 26px;
    width: 26px;
}

.iconPinterestLg {
    background-position: 0 -532px;
    height: 26px;
    width: 26px;
}

.iconCommunityLg {
    background-position: 0 -247px;
    height: 26px;
    width: 26px;
}

.iconTwitterLg {
    background-position: 0 -462px;
    height: 26px;
    width: 26px;
}

.iconLoveLg {
    background-position: 0 -319px;
    height: 26px;
    width: 26px;
}

.wrapperImg.webbiePic {
    background-position: -434px 0;
    height: 47px;
    width: 94px;
}

.wrapperImg.cribsiePic {
    background-position: -434px -55px;
    height: 47px;
    width: 94px;
}

.finePrint {
     font-size: 11px;
}

.footerLinks {
    border-top: 1px solid #E5E5E5;
    font-size: 11px;
    margin: 0px 0 20px;
    padding: 10px 0 2px;
    text-align: left;
}

.footerLinks ul li {
    list-style-type: none;
}

.footerLinks h3 {
    font-size: 12px;
    margin-bottom: 0;
}

ul.footerPromos > li + li {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DEDEDE;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: dotted;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    padding-left: 20px;
}

@font-face {
    font-family: "MuseoSlabMedium";
    src: local("//:"), url("font/MuseoSlab-500.ttf") format("truetype");
}
@font-face {
    font-family: "MuseoSlabLight";
    src: local("//:"), url("font/MuseoSlab-300.ttf") format("truetype");
}
@font-face {
    font-family: "MuseoSlabHeavy";
    src: url("font/MuseoSlab-700.ttf") format("truetype");
}

h1, h2, h3 {
    font-family: "MuseoSlabLight",Georgia,Arial,serif;
    color: #656565;
    font-weight: lighter;
}


h4 {
    font-family: "MuseoSlabLight",Georgia,Arial,serif;
    color: #656565;
    font-weight: normal;
}

h2 {
   font-size: 18px;
   font-weight: normal;
}
