body {
    background: url(../images/linen.png);
    padding-bottom: 54px;
}



.top-nav{
    background:none;
}


ul.nav{
    list-style: none;
    margin-bottom: 0;
}

ul.nav li{
    display: inline;
    padding:12px;
}

.title-area .name{
    background: #fff;
    padding-top:0;
}

.mobile-logos{
    padding-left:6px;
    padding-top:6px;
}

.mobile-logos img {
    display:inline;
}

.name .marketing-image {
    vertical-align: bottom;
    position: relative;
    bottom: 3px;
}

.banner-bar {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 1px;
}

.top-bar .toggle-topbar.menu-icon a span {
    -webkit-box-shadow: 0 10px 0 1px #26aec2, 0 16px 0 1px #26aec2, 0 22px 0 1px #26aec2;
    box-shadow: 0 10px 0 1px #26aec2, 0 16px 0 1px #26aec2, 0 22px 0 1px #26aec2;
}

.top-bar.expanded .toggle-topbar a span {
    -webkit-box-shadow: 0 10px 0 1px #ccc, 0 16px 0 1px #ccc, 0 22px 0 1px #ccc;
    box-shadow: 0 10px 0 1px #ccc, 0 16px 0 1px #ccc, 0 22px 0 1px #ccc;
}


.top-bar .toggle-topbar.menu-icon a {
    color: #26aec2;
}

span.logo img {
    display: inline;
}

span.marketing-image {
    position: relative;
    bottom: 5px;

}

.advertise {
    text-align: right;
    margin-top: 10px;
}


.content {
    background-color: #fff;
}

#tab-box {
    position: absolute;
    bottom: 15px;
    right: 0;
}

#tab-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 175, 201, 1);
}

.tab {
    display: inline;
    height: 18px;
    padding: 12px;
    background-color: rgba(0, 175, 201, 0.6);
}

.tab a {
    color: #fff;
}

.tab:hover {
    background-color: rgba(0, 175, 201, 0.9);
}

.spacer{
    height:20px;
}


ul.box{
    list-style: none;
    margin-bottom: 0;
}

ul.box li{
    background: #fff;
    padding:12px;
    line-height: 1em;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

div.body{
    font-family: Arial;
    font-size: .8em;
    color:#666;
    margin-bottom: 12px;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.bottom-nav {
    background: rgba(255, 255, 255, 0.5);
    padding: 9px;
    border-radius: 15px;
    font-size: 9pt;
}

.bottom-nav:hover {
    background: rgba(255, 255, 255, 1.0);
}

