.orbit-slide-number {
    display: none;
}

.orbit-timer {
    display: none;
}

#home-hero-1 {
    background:url("../images/hero-home-1.png");
    height:470px;
}

#home-hero-2{
    background: url("../images/hero-home-2.png");
}

#home-hero-2 .hero-copy-right{
    width:600px;
    padding-left:75px;
}

#home-hero-3{
    background: url("../images/hero-home-3.png");
}

#home-hero-3 .hero-copy{
    padding-top:100px;

}


.home-box {
    position: relative;
    height:300px;
}


.home-box img{
    position: absolute;
    bottom:6px;
}

#lead-form-options li{
    display:inline;
    list-style: none;
    font-size:28px;
    padding-left:12px;
    padding-right:12px;
    margin-left:6px;
    margin-left:6px;
    background: #eee;
}
