.side-bar{
	background: #e7e7dc;
    padding:12px;
}

.side-bar p{
    font-size:.8em;
}


h5{
    font-family: "MuseoSlabHeavy";
    font-size:.91em;
}

.download img{
    display:inline;
}

.download-text {
    position: relative;
    font-size: 10pt;
    bottom:3px;
}

#contact-us-link{
    font-size: 10pt;
}


.case-logo{
    text-align: center;
}