.research{
    display:inline-block;
}

.research-report h5{
    font-size: 11pt;
}

.download{
    display: block;
    padding-top:12px;
}

.download img{
    display:inline;
}

.download-text {
    position: relative;
    font-size: 10pt;
    bottom:3px;
}