// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.


$row-width: 1026px !default;

$topbar-height: 40px;
$topbar-bg: #26aec2;
$topbar-dropdown-bg: #26aec2;
$topbar-dropdown-toggle-color:#26aec2;
$topbar-link-font-size: .7em;

$topbar-breakpoint:48.00em;

$section-title-color:            #000;
$section-title-bg:               #d9d8c7;
$section-title-bg-active:       #26aec2;

$orbit-nav-bg-old: rgb(140,75,20);
$orbit-nav-bg: rgba(255,255,255,0.1);
