// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.


$row-width: 1000px !default;

$topbar-bg: #26aec2;
$topbar-height: 35px;



$orbit-nav-bg-old: rgb(140,75,20);
$orbit-nav-bg: rgba(255,255,255,0.1);